In [1]:
#importing possible libraries and dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from path import Path

In [2]:
# Load the crypto_data.csv dataset.
#file path will be update to the table created in our sql database
file_path = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/Machine_learning/dummy data.csv"
Arizona_Election_df = pd.read_csv(file_path)
Arizona_Election_df.head(10)

        Party Sex  Partisan Score  Turnout Score
0  Democratic   F              63             75
1  Democratic   M              63             75
2  Democratic   M              63             75
3  Democratic   F              63             75
4  Democratic   M              63             75
5  Democratic   F              63             75
6  Democratic   F              63             75
7  Democratic   F              63             75
8  Democratic   M              63             75
9  Democratic   U              63             75

In [3]:
##Preprocessing The Data this step might not be needed once data is clean and database tables are set
##and full with information needed

In [4]:
#seeing all data types
Arizona_Election_df.dtypes

Party             object
Sex               object
Partisan Score     int64
Turnout Score      int64
dtype: object

In [5]:
#Drop all columns contained unecesarry features or null nan 
Arizona_Election_df.drop(columns=["Turnout Score"], inplace=True)
Arizona_Election_df

           Party Sex  Partisan Score
0     Democratic   F              63
1     Democratic   M              63
2     Democratic   M              63
3     Democratic   F              63
4     Democratic   M              63
...          ...  ..             ...
9994       Other   F              63
9995       Other   M              63
9996       Other   M              63
9997       Other   F              63
9998       Other   F              63

[9999 rows x 3 columns]

In [31]:
#drop any null or nan in the data frame 
Arizona_Election_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=False)
Arizona_Election_df
print(Arizona_Election_df[3988:4004])

           Party Sex  Partisan Score
3988  Republican   F              63
3989  Republican   U              63
3990  Republican   F              63
3991  Republican   M              63
3992  Republican   M              63
3993  Republican   F              63
3994  Republican   U              63
3995  Republican   M              63
3996  Republican   M              63
3997  Republican   M              63
3998  Republican   M              63
3999  Republican   M              63
4000  Republican   M              63
4001  Republican   F              63
4002  Republican   F              63
4003  Republican   U              63

In [32]:
#converting label columns from txt to numerical model can only work with numberical numbers
Arizona_Election_binary_encoded = pd.get_dummies(Arizona_Election_df, columns=["Sex","Party",])
print(Arizona_Election_binary_encoded [3988:4004])

      Partisan Score  Sex_F  Sex_M  Sex_U  Party_Democratic  Party_Other  \
3988              63      1      0      0                 0            0
3989              63      0      0      1                 0            0
3990              63      1      0      0                 0            0
3991              63      0      1      0                 0            0
3992              63      0      1      0                 0            0
3993              63      1      0      0                 0            0
3994              63      0      0      1                 0            0
3995              63      0      1      0                 0            0
3996              63      0      1      0                 0            0
3997              63      0      1      0                 0            0
3998              63      0      1      0                 0            0
3999              63      0      1      0                 0            0
4000              63      0      1      0                 0            0
4001              63      1      0      0                 0            0
4002              63      1      0      0                 0            0
4003              63      0      0      1                 0            0

      Party_Republican
3988                 1
3989                 1
3990                 1
3991                 1
3992                 1
3993                 1
3994                 1
3995                 1
3996                 1
3997                 1
3998                 1
3999                 1
4000                 1
4001                 1
4002                 1
4003                 1

In [ ]:
#creating a list of the variables (features use)
varlist = ["Party_Republican"]