In [1]:
#importing possible libraries and dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
# import os
import pandas as pd
from path import Path
from config import db_password
from sqlalchemy import create_engine
from sqlalchemy import inspect
import psycopg2

In [2]:
# Load the crypto_data.csv dataset.
# file path will be update to the table created in our sql database
# file_path = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/Machine_learning/dummy data.csv"
# Arizona_Election_df = pd.read_csv(file_path)
# Arizona_Election_df.head(10)
# host= "localhost"
# database = "Arizona_Elections"
# user= "postgres"
# password = "db_password"

In [3]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"

In [4]:
engine = create_engine(db_string)

In [5]:
Arizona_Elections_df = pd.read_sql('SELECT * from district_9', engine)

In [6]:
Arizona_Elections_df.head()

,voterid,partyname,sex,age,codedracename,civpart1,natto,partisanship,civkidsinhh2020,civlibideo2020,civmarriage2020,zip5
0,11240552,Republican,F,21,Hispanic (low),8.66,89.86,7.5,11.29,13.62,5.69,85233
1,11240589,Republican,M,21,White (High),7.71,86.92,5.4,3.49,10.62,0.72,85234
2,11241494,Republican,F,68,White (High),18.34,99.35,5.1,1.54,14.08,90.08,85234
3,11244609,Democrat,F,37,Hispanic (medium),93.33,7.69,82.9,36.69,48.12,8.86,85203
4,11291325,Democrat,M,35,Black (Low),90.40,38.97,80.0,14.27,58.71,7.09,85201

In [7]:
# seeing all data types
Arizona_Elections_df.dtypes

voterid              int64
partyname           object
sex                 object
age                  int64
codedracename       object
civpart1           float64
natto              float64
partisanship       float64
civkidsinhh2020    float64
civlibideo2020     float64
civmarriage2020    float64
zip5                 int64
dtype: object

In [9]:
# #Drop all columns contained unecesarry features or null nan 
# Arizona_Elections_df.drop(columns=["turnout_score"], inplace=True)
# Arizona_Elections_df

In [10]:
#drop any null or nan in the data frame 
Arizona_Elections_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=False)
Arizona_Elections_df

,voterid,partyname,sex,age,codedracename,civpart1,natto,partisanship,civkidsinhh2020,civlibideo2020,civmarriage2020,zip5
0,11240552,Republican,F,21,Hispanic (low),8.66,89.86,7.5,11.29,13.62,5.69,85233
1,11240589,Republican,M,21,White (High),7.71,86.92,5.4,3.49,10.62,0.72,85234
2,11241494,Republican,F,68,White (High),18.34,99.35,5.1,1.54,14.08,90.08,85234
3,11244609,Democrat,F,37,Hispanic (medium),93.33,7.69,82.9,36.69,48.12,8.86,85203
4,11291325,Democrat,M,35,Black (Low),90.40,38.97,80.0,14.27,58.71,7.09,85201
...,...,...,...,...,...,...,...,...,...,...,...,...
81897,8483142,Other,F,58,Asian (high),57.63,27.59,75.3,50.37,39.55,43.31,85204
81898,8483220,Other,F,47,White (High),50.32,5.77,14.9,67.17,42.85,78.43,85204
81899,8483306,Republican,F,89,White (High),13.25,39.74,1.7,4.09,14.57,23.43,85204
81900,8678894,Other,M,53,White (Medium),60.23,67.43,36.6,89.49,43.63,98.53,85210
81901,8679046,Other,F,63,White (High),23.00,70.31,2.7,8.47,23.38,75.13,85204

In [12]:
#converting label columns from txt to numerical model can only work with numberical numbers
X = pd.get_dummies(Arizona_Elections_df, columns=["gender","party",]).drop('partisian_score', axis=1)

# Create our target
y = Arizona_Elections_df['partisian_score']
X.head()

In [ ]:
X.describe()

In [ ]:
# check the balance of our taget very important can be hindering
X.value_counts()

In [ ]:
#check the balance of our target very important spent a good time trying to figurere out 
y.value_counts()

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [ ]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
# importing module
from sklearn.linear_model import LinearRegression
# creating our model and assigning its function
model = LinearRegression()
# fitting the training data
model .fit(X,y)

In [ ]:
y_prediction =  model.predict(X_test)
y_prediction

In [ ]:
# importing r2_score module
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

In [ ]:
#importing possible libraries and dependencies
import pandas as pd
from path import Path
from sqlalchemy import create_engine
from config import db_password