In [1]:
#importing possible libraries and dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from path import Path
from config import db_password
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [2]:
#calling in the other districts data sets assign them file paths 
file_path = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/D13_cleaning:analyzing /Resources/Leg_District_13.csv"
file_path2 = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/D13_cleaning:analyzing /Resources/Leg_District_9.csv"
file_path3 = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/D13_cleaning:analyzing /Resources/Leg_District_2.csv"
file_path4 = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/D13_cleaning:analyzing /Resources/Leg_District_4.csv"
d13_df = pd.read_csv(file_path)
#create a new column for saying is district 13
d13_df.insert(0, "District", "13")
#view the Dataset 
d13_df.head(10)

,District,Voter File VANID,PartyName,Sex,Age,CodedRaceName,LastName,FirstName,MiddleName,Suffix,...,StreetPrefix,StreetName,StreetType,StreetSuffix,AptType,AptNo,City,State,Zip5,Zip4
0,13,15777,Republican,M,72,White (High),Banbury,Stephen,Ray,NaN,...,N,Longmore,St,NaN,NaN,NaN,Chandler,AZ,85224,4273.0
1,13,22507,Democrat,M,56,Hispanic (medium),Escamillo,Gabriel,Sanchez,III,...,S,Villas,Ct,NaN,NaN,NaN,Chandler,AZ,85286,6209.0
2,13,24594,Democrat,F,70,White (High),Nielsen,Nancy,Anne,NaN,...,S,New Town,Dr,NaN,NaN,NaN,Sun Lakes,AZ,85248,7123.0
3,13,40503,Democrat,M,70,White (High),Bryan,Keith,Wade,NaN,...,N,Washington,St,NaN,NaN,NaN,Chandler,AZ,85225,4641.0
4,13,48534,Other,F,66,White (High),Walker,Kimberly,Sue,NaN,...,S,Oakmont,Dr,NaN,NaN,NaN,Chandler,AZ,85249,8507.0
5,13,58057,Republican,F,40,White (High),Jones,Kristen,J,NaN,...,E,Dogwood,Dr,NaN,NaN,NaN,Chandler,AZ,85286,2459.0
6,13,65093,Republican,M,65,Hispanic (low),Valencia,Henry,NaN,Jr,...,E,Erie,St,NaN,NaN,NaN,Chandler,AZ,85225,5207.0
7,13,118128,Republican,M,66,White (High),Evans,William,Allen,NaN,...,E,Geronimo,St,NaN,NaN,NaN,Chandler,AZ,85225,2343.0
8,13,118720,Democrat,M,51,Black (Low),Knox,Steve,Richard,NaN,...,E,Chandler Heights,Rd,NaN,Apt,36,Chandler,AZ,85249,5601.0
9,13,121001,Democrat,M,71,White (High),Schillereff,Kim,Bradley,NaN,...,E,Sun Lakes,Blvd,N,NaN,NaN,Sun Lakes,AZ,85248,6434.0

In [3]:
d2_df = pd.read_csv(file_path3)
#create a new column for saying is district 2
d2_df.insert(0, "District", "2")
#view the Dataset 
d2_df.head(10)

,District,Voter File VANID,PartyName,Sex,Age,CodedRaceName,LastName,FirstName,MiddleName,Suffix,...,StreetPrefix,StreetName,StreetType,StreetSuffix,AptType,AptNo,City,State,Zip5,Zip4
0,2,99402,Republican,F,79,White (High),Smidt,Susan,Theresa,NaN,...,E,Meadow,Ln,NaN,NaN,NaN,Phoenix,AZ,85022,4429.0
1,2,99440,Republican,F,97,White (High),Neller,Beverly,NaN,NaN,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,6038.0
2,2,99482,Republican,F,89,White (High),Niemeier,Doris,Ann,NaN,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,6002.0
3,2,99483,Republican,F,77,White (High),Shelor,Donna,Ruth,NaN,...,W,Beck,Ln,NaN,NaN,NaN,Phoenix,AZ,85023,3461.0
4,2,99521,Other,M,67,White (High),McDonald,Michael,Francis,NaN,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,7200.0
5,2,99522,Other,F,61,White (High),Mc Donald,Katherine,Marie,NaN,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,7200.0
6,2,99562,Democrat,M,76,White (Medium),Brown,William,Stanley,NaN,...,E,Michigan,Ave,NaN,NaN,NaN,Phoenix,AZ,85022,1025.0
7,2,227243,Democrat,F,51,White (High),Reed,Julie,NaN,NaN,...,N,7th,St,NaN,Apt,2130,Phoenix,AZ,85022,1974.0
8,2,227301,Republican,M,86,White (High),Johnson,John,Fredrick,NaN,...,E,Linda,Cir,NaN,NaN,NaN,Phoenix,AZ,85050,3133.0
9,2,227302,Democrat,F,64,White (High),Johnson,Helen,Irene,NaN,...,E,Linda,Cir,NaN,NaN,NaN,Phoenix,AZ,85050,3133.0

In [4]:
d9_df = pd.read_csv(file_path2)
#create a new column for saying is district 13
d9_df.insert(0, "District", "9")

#view the Dataset 
d9_df.head(10)

,District,Voter File VANID,PartyName,Sex,Age,CodedRaceName,LastName,FirstName,MiddleName,Suffix,...,StreetPrefix,StreetName,StreetType,StreetSuffix,AptType,AptNo,City,State,Zip5,Zip4
0,9,11239624,Republican,M,22,White (High),Klingler,Brenden,NaN,NaN,...,E,Inverness,Ave,NaN,Apt,1011,Mesa,AZ,85204,6972.0
1,9,11240552,Republican,F,21,Hispanic (low),Sandoval,Angelina,Nicole,NaN,...,W,Gary,Ave,NaN,NaN,NaN,Gilbert,AZ,85233,2003.0
2,9,11240589,Republican,M,21,White (High),Schaffer,Dylan,Larry,NaN,...,N,Porter,Pl,NaN,NaN,NaN,Gilbert,AZ,85234,2528.0
3,9,11241494,Republican,F,68,White (High),Monteen,Laura,Marie,NaN,...,N,Sunview,Pkwy,NaN,Unit,26,Gilbert,AZ,85234,2384.0
4,9,11244609,Democrat,F,37,Hispanic (medium),Moreno,Ariane,Olga,NaN,...,N,Gilbert,Rd,NaN,Apt,1046,Mesa,AZ,85203,908.0
5,9,11291325,Democrat,M,35,Black (Low),Law,Eric,Lamarr,NaN,...,W,8th,Pl,NaN,NaN,NaN,Mesa,AZ,85201,4208.0
6,9,11291382,Other,M,22,White (High),Litvak,Anton,Andrew,NaN,...,E,Fountain,St,NaN,NaN,NaN,Mesa,AZ,85203,5125.0
7,9,11291659,Democrat,F,42,White (High),Melin,Jennifer,Mary,NaN,...,E,Grandview,St,NaN,NaN,NaN,Mesa,AZ,85203,4524.0
8,9,11291668,Republican,F,22,White (Low),Mendoza,McKenna,Summer,NaN,...,E,8th,Pl,NaN,NaN,NaN,Mesa,AZ,85203,5609.0
9,9,11291734,Other,M,35,White (Low),Mitchell,Aaron,Ray,NaN,...,E,Brown,Rd,NaN,Apt,201,Mesa,AZ,85203,4736.0

In [5]:
d4_df = pd.read_csv(file_path4)
#create a new column for saying is district 13
d4_df.insert(0, "District", "4")

#view the Dataset 
d4_df.head(10)

,District,Voter File VANID,PartyName,Sex,Age,CodedRaceName,LastName,FirstName,MiddleName,Suffix,...,StreetPrefix,StreetName,StreetType,StreetSuffix,AptType,AptNo,City,State,Zip5,Zip4
0,4,65711,Democrat,M,66,Hispanic (high),Lozano,Javier,Mata,Sr,...,E,Piccadilly,Rd,NaN,NaN,NaN,Phoenix,AZ,85018,5581.0
1,4,65747,Republican,F,58,White (High),Meell,Lana,Kay,NaN,...,E,Shea,Blvd,NaN,Apt,1105,Scottsdale,AZ,85254,5722.0
2,4,65887,Republican,F,59,White (High),Collins,Anne,Melissa,NaN,...,E,Davenport,Dr,NaN,NaN,NaN,Scottsdale,AZ,85260,4253.0
3,4,65951,Republican,F,77,White (High),Bernhisel,Sandra,Jane,NaN,...,N,24th,Pl,NaN,NaN,NaN,Phoenix,AZ,85016,3649.0
4,4,65975,Republican,M,70,White (High),Blanchard,Richard,Sheldon,NaN,...,E,Rancho,Dr,NaN,NaN,NaN,Phoenix,AZ,85018,1133.0
5,4,66001,Other,M,61,White (High),Sexton,Kirk,Thomas,NaN,...,E,Rancho,Dr,NaN,NaN,NaN,Phoenix,AZ,85018,1261.0
6,4,66002,Other,F,58,White (High),Sexton,Michelle,Lynn,NaN,...,E,Rancho,Dr,NaN,NaN,NaN,Phoenix,AZ,85018,1261.0
7,4,66028,Other,F,64,White (High),Perry,Karen,Louise,NaN,...,E,Rockridge,Rd,NaN,NaN,NaN,Phoenix,AZ,85018,1725.0
8,4,66029,Republican,M,79,White (High),Skinner,Raymond,Alister,NaN,...,E,Rockridge,Rd,NaN,NaN,NaN,Phoenix,AZ,85018,1721.0
9,4,66049,Other,M,44,White (High),Dwyer,Jason,Paul,NaN,...,N,61st,Pl,NaN,NaN,NaN,Scottsdale,AZ,85251,5410.0

In [6]:
#combining the 4 distrticts data sets
# ignoring the index
combined_df = pd.concat([d13_df, d2_df, d4_df ,d9_df],)
#making sure the index gets reset so there is no issues down the line 
combined_df= combined_df.reset_index(drop=True)
#display the combine data set
combined_df

,District,Voter File VANID,PartyName,Sex,Age,CodedRaceName,LastName,FirstName,MiddleName,Suffix,...,StreetPrefix,StreetName,StreetType,StreetSuffix,AptType,AptNo,City,State,Zip5,Zip4
0,13,15777,Republican,M,72,White (High),Banbury,Stephen,Ray,NaN,...,N,Longmore,St,NaN,NaN,NaN,Chandler,AZ,85224,4273.0
1,13,22507,Democrat,M,56,Hispanic (medium),Escamillo,Gabriel,Sanchez,III,...,S,Villas,Ct,NaN,NaN,NaN,Chandler,AZ,85286,6209.0
2,13,24594,Democrat,F,70,White (High),Nielsen,Nancy,Anne,NaN,...,S,New Town,Dr,NaN,NaN,NaN,Sun Lakes,AZ,85248,7123.0
3,13,40503,Democrat,M,70,White (High),Bryan,Keith,Wade,NaN,...,N,Washington,St,NaN,NaN,NaN,Chandler,AZ,85225,4641.0
4,13,48534,Other,F,66,White (High),Walker,Kimberly,Sue,NaN,...,S,Oakmont,Dr,NaN,NaN,NaN,Chandler,AZ,85249,8507.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433576,9,8483142,Other,F,58,Asian (high),Pham,Jennifer,Hong,NaN,...,E,Garnet,Ave,NaN,NaN,NaN,Mesa,AZ,85204,6121.0
433577,9,8483220,Other,F,47,White (High),Quallio,Kimberly,Ann,NaN,...,E,Enid,Ave,NaN,NaN,NaN,Mesa,AZ,85204,4727.0
433578,9,8483306,Republican,F,89,White (High),Reider,Juanita,Albertus,NaN,...,S,Windsor,NaN,NaN,Lot,A150,Mesa,AZ,85204,1555.0
433579,9,8678894,Other,M,53,White (Medium),Sheppard,Andrew,J,NaN,...,S,Westwood,NaN,NaN,Unit,29,Mesa,AZ,85210,9408.0
433580,9,8679046,Other,F,63,White (High),Shivka,Janette,Vydell,NaN,...,E,Harmony,Ave,NaN,NaN,NaN,Mesa,AZ,85204,6310.0

In [7]:
#droping all columns that we discuss with team as to not needed for Analysis
#or ML
combined_df.drop(columns=[
    "2016:DNC:DBRolRsk","CodedRaceName","CivPart.1","2016:DNC:AVEV",
    "2016:DNC:AVEVTime","2016:DLCC:SCandSup","2016:DLCC:SGOTV",
    "2016:DLCC:SPers","2016:DNCCatholic","2016:DNCCollegeGrad",
    "2016:DNCDefectRisk","2016:DNCGenericDem","2016:DNCEvangelical",
    "2016:DNCGenTurnoutV2","2016:DNCHighSchool","2016:DNCIncome",
    "2016:DNCIssueCampFin","2016:DNCIssueClimate",
    "2016:DNCIssueCollege","2016:DNCIssuePrivacy",
    "2016:DNCIssueGunCtrl","2016:DNCIssueMinWage",
    "2016:DNCIssuePdLeave","2016:DNCIssueCitizen",
    "2016:DNCIssueChoice","2016:DNCIssueProgTax",
    "2016:DNCNonChristian","2016:DNCOthChristian",
    "2016:DNCVolPropV4","2016:DNCVolPrPhV4","2016:DNCVolPrWV4",
    "KopTurnout2016","2016:TSM:ASDCDon","2018:DNCDemSupport",
    "Healthcare","AntiGopInc","AntiGOP","KirkpatrickSup","TrmpChck",
    "2018:Cla:DCCCTNT","AVEV","CultPers","EconPers","PoliPers",
    "TrumpPers","DSCCTnt","BalDrop","CivGOTV","CivPart","CivRace",
    "CivTnt","2018:DCCCBLHGS","SHGOTV","SHSup","SSGOTV","SSSup",
    "Tnt","CodedRaceName","2018:TSM:MdGnTNT","2018:TSM:NatPart",
    "2018:TSM:NPYPT","CivPart","YEARXXScoreSName","DemPartySup",
    "CivSpan","Covid","2020:VolProp","StreetNo","StreetNoHalf",
    "StreetPrefix","StreetName","StreetType","StreetSuffix",
    "AptType","AptNo","State","CD","HD","SD","Zip4 ","City",
    "LastName","FirstName","MiddleName","Suffix","Partisanship","2020:CivMarriage"], inplace=True)

#Renaming the columns so all datasets match at the end of our project '2020:CivMarriage':'2020 marriage',
combined_df.rename(columns=
    {'Voter File VANID': 'voter_id', 'PartyName': 'Party','2018:TSM:Eth': 'Ethnicity',
      'DemPartySup2': 'Voter Score','NatTO':'Turnout Score','2020:CivKidsinHH':
     'Kids in HH','2020:CivLibIdeo':'Liberal Ideology',
     'Zip5':'Zip'
    }, inplace=True)

combined_df

,District,voter_id,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,13,15777,Republican,M,72,Caucasian,8.15,99.22,6.75,4.14,85224
1,13,22507,Democrat,M,56,Hispanic,91.74,99.13,34.25,70.85,85286
2,13,24594,Democrat,F,70,Caucasian,98.02,98.35,13.59,94.71,85248
3,13,40503,Democrat,M,70,Caucasian,93.63,97.76,13.28,79.04,85225
4,13,48534,Other,F,66,Caucasian,91.58,98.97,7.58,78.62,85249
...,...,...,...,...,...,...,...,...,...,...,...
433576,9,8483142,Other,F,58,Uncoded,69.83,27.59,50.37,39.55,85204
433577,9,8483220,Other,F,47,Caucasian,60.32,5.77,67.17,42.85,85204
433578,9,8483306,Republican,F,89,Caucasian,12.61,39.74,4.09,14.57,85204
433579,9,8678894,Other,M,53,Caucasian,56.50,67.43,89.49,43.63,85210
433580,9,8679046,Other,F,63,Caucasian,18.48,70.31,8.47,23.38,85204

In [8]:
#display number of rows and columns in our new database and count them
combined_df.count()

District            433581
voter_id            433581
Party               433581
Sex                 433581
Age                 433581
Ethnicity           373971
Voter Score         433581
Turnout Score       433581
Kids in HH          412043
Liberal Ideology    412043
Zip                 433581
dtype: int64

In [9]:
#determining there are no missing values in District -->
combined_df.isnull()

,District,voter_id,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
433576,False,False,False,False,False,False,False,False,False,False,False
433577,False,False,False,False,False,False,False,False,False,False,False
433578,False,False,False,False,False,False,False,False,False,False,False
433579,False,False,False,False,False,False,False,False,False,False,False
433580,False,False,False,False,False,False,False,False,False,False,False

In [10]:
#determining there are no missing values in District -->
combined_df.isnull().sum()

District                0
voter_id                0
Party                   0
Sex                     0
Age                     0
Ethnicity           59610
Voter Score             0
Turnout Score           0
Kids in HH          21538
Liberal Ideology    21538
Zip                     0
dtype: int64

In [11]:
# Determine if there are not any missing values in the data.
combined_df.notnull()

,District,voter_id,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
433576,True,True,True,True,True,True,True,True,True,True,True
433577,True,True,True,True,True,True,True,True,True,True,True
433578,True,True,True,True,True,True,True,True,True,True,True
433579,True,True,True,True,True,True,True,True,True,True,True
433580,True,True,True,True,True,True,True,True,True,True,True

In [12]:
# Determine if there are not any missing values in the data.
combined_df.notnull().sum()

District            433581
voter_id            433581
Party               433581
Sex                 433581
Age                 433581
Ethnicity           373971
Voter Score         433581
Turnout Score       433581
Kids in HH          412043
Liberal Ideology    412043
Zip                 433581
dtype: int64

In [13]:
#drop any null or nan in the data frame 
Clean_District_df = combined_df.dropna(how='any', inplace= False)

In [14]:
#view dataframe one more time
Clean_District_df.head(10)

,District,voter_id,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,13,15777,Republican,M,72,Caucasian,8.15,99.22,6.75,4.14,85224
1,13,22507,Democrat,M,56,Hispanic,91.74,99.13,34.25,70.85,85286
2,13,24594,Democrat,F,70,Caucasian,98.02,98.35,13.59,94.71,85248
3,13,40503,Democrat,M,70,Caucasian,93.63,97.76,13.28,79.04,85225
4,13,48534,Other,F,66,Caucasian,91.58,98.97,7.58,78.62,85249
5,13,58057,Republican,F,40,Caucasian,8.00,91.88,91.41,12.05,85286
6,13,65093,Republican,M,65,Uncoded,7.67,98.95,18.53,8.35,85225
7,13,118128,Republican,M,66,Caucasian,11.07,87.95,14.90,6.01,85225
8,13,118720,Democrat,M,51,Caucasian,97.20,98.53,57.13,77.11,85249
9,13,121001,Democrat,M,71,Caucasian,93.85,98.97,4.66,73.14,85248

In [15]:
#checking the types again in our new clean dataframe
Clean_District_df.dtypes

District             object
voter_id              int64
Party                object
Sex                  object
Age                   int64
Ethnicity            object
Voter Score         float64
Turnout Score       float64
Kids in HH          float64
Liberal Ideology    float64
Zip                   int64
dtype: object

In [16]:
#verifying there is no more missing values in rows
Clean_District_df.count()

District            372566
voter_id            372566
Party               372566
Sex                 372566
Age                 372566
Ethnicity           372566
Voter Score         372566
Turnout Score       372566
Kids in HH          372566
Liberal Ideology    372566
Zip                 372566
dtype: int64

In [17]:
#exporting clean dataframe to pg admin before it was csv
# Clean_District13_df.to_csv("/Users/lesleyrodriguez/Desktop/Frank_D13_code/District13_Data.csv", index = False, header=True)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"
engine = create_engine(db_string)
Clean_District_df.to_sql('districts_combined', 
                   con = engine,
                  if_exists='replace',
                  index=False,
                  method='multi') 
Clean_District_df

,District,voter_id,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,13,15777,Republican,M,72,Caucasian,8.15,99.22,6.75,4.14,85224
1,13,22507,Democrat,M,56,Hispanic,91.74,99.13,34.25,70.85,85286
2,13,24594,Democrat,F,70,Caucasian,98.02,98.35,13.59,94.71,85248
3,13,40503,Democrat,M,70,Caucasian,93.63,97.76,13.28,79.04,85225
4,13,48534,Other,F,66,Caucasian,91.58,98.97,7.58,78.62,85249
...,...,...,...,...,...,...,...,...,...,...,...
433576,9,8483142,Other,F,58,Uncoded,69.83,27.59,50.37,39.55,85204
433577,9,8483220,Other,F,47,Caucasian,60.32,5.77,67.17,42.85,85204
433578,9,8483306,Republican,F,89,Caucasian,12.61,39.74,4.09,14.57,85204
433579,9,8678894,Other,M,53,Caucasian,56.50,67.43,89.49,43.63,85210
433580,9,8679046,Other,F,63,Caucasian,18.48,70.31,8.47,23.38,85204