In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
from config import db_password
# import tensorflow as tf
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
import psycopg2
import numpy as np

In [2]:
# loading cleaned data
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"
engine = create_engine(db_string)
District_9_df = pd.read_sql('SELECT * from district_9', engine)
District_9_df.head(10)

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,2020 marriage,Zip
0,8709138,Democrat,F,24,Uncoded,94.87,79.09,99.1,13.61,74.46,5.19,85210
1,8714234,Other,M,32,Hispanic,60.82,29.78,54.2,6.46,50.10,4.90,85210
2,8761628,Democrat,M,24,Hispanic,90.87,82.11,97.2,0.97,83.44,5.93,85202
3,8571685,Other,M,42,Hispanic,56.74,36.01,65.1,65.08,33.79,74.25,85202
4,8573044,Republican,F,71,Caucasian,8.59,99.08,1.6,4.06,16.84,46.38,85213
5,8573511,Other,M,27,Hispanic,76.12,85.70,9.3,1.72,45.99,38.35,85234
6,8601714,Democrat,M,56,Caucasian,95.34,98.92,94.7,14.35,57.22,24.59,85210
7,8601757,Republican,M,47,Caucasian,8.75,61.36,1.0,78.00,7.81,73.07,85234
8,8601949,Democrat,M,39,Caucasian,91.87,26.76,95.8,32.05,47.81,18.58,85203
9,8601990,Republican,M,26,Hispanic,22.67,15.40,5.5,1.72,22.31,1.80,85234

In [3]:
District_9_df.drop(columns=["Zip","Voter ID","2020 marriage"], inplace=True)
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,Democrat,F,24,Uncoded,94.87,79.09,99.1,13.61,74.46
1,Other,M,32,Hispanic,60.82,29.78,54.2,6.46,50.10
2,Democrat,M,24,Hispanic,90.87,82.11,97.2,0.97,83.44
3,Other,M,42,Hispanic,56.74,36.01,65.1,65.08,33.79
4,Republican,F,71,Caucasian,8.59,99.08,1.6,4.06,16.84
...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69.83,27.59,75.3,50.37,39.55
73055,Other,F,47,Caucasian,60.32,5.77,14.9,67.17,42.85
73056,Republican,F,89,Caucasian,12.61,39.74,1.7,4.09,14.57
73057,Other,M,53,Caucasian,56.50,67.43,36.6,89.49,43.63
73058,Other,F,63,Caucasian,18.48,70.31,2.7,8.47,23.38

In [4]:
# Columns
District_9_df.count()

Party                73059
Sex                  73059
Age                  73059
Ethnicity            73059
Voter Score          73059
Turnout Score        73059
PartisanshipScore    73059
Kids in HH           73059
Liberal Ideology     73059
dtype: int64

In [5]:
District_9_df.dtypes

Party                 object
Sex                   object
Age                    int64
Ethnicity             object
Voter Score          float64
Turnout Score        float64
PartisanshipScore    float64
Kids in HH           float64
Liberal Ideology     float64
dtype: object

In [6]:
District_9_df.isnull()

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
73054,False,False,False,False,False,False,False,False,False
73055,False,False,False,False,False,False,False,False,False
73056,False,False,False,False,False,False,False,False,False
73057,False,False,False,False,False,False,False,False,False
73058,False,False,False,False,False,False,False,False,False

In [7]:
#drop any null or nan in the data frame 
District_9_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=True)
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,Democrat,F,24,Uncoded,94.87,79.09,99.1,13.61,74.46
1,Other,M,32,Hispanic,60.82,29.78,54.2,6.46,50.10
2,Democrat,M,24,Hispanic,90.87,82.11,97.2,0.97,83.44
3,Other,M,42,Hispanic,56.74,36.01,65.1,65.08,33.79
4,Republican,F,71,Caucasian,8.59,99.08,1.6,4.06,16.84
...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69.83,27.59,75.3,50.37,39.55
73055,Other,F,47,Caucasian,60.32,5.77,14.9,67.17,42.85
73056,Republican,F,89,Caucasian,12.61,39.74,1.7,4.09,14.57
73057,Other,M,53,Caucasian,56.50,67.43,36.6,89.49,43.63
73058,Other,F,63,Caucasian,18.48,70.31,2.7,8.47,23.38

In [8]:
District_9_df.isnull().sum()

Party                0
Sex                  0
Age                  0
Ethnicity            0
Voter Score          0
Turnout Score        0
PartisanshipScore    0
Kids in HH           0
Liberal Ideology     0
dtype: int64

In [9]:
District_9_df.dtypes

Party                 object
Sex                   object
Age                    int64
Ethnicity             object
Voter Score          float64
Turnout Score        float64
PartisanshipScore    float64
Kids in HH           float64
Liberal Ideology     float64
dtype: object

In [10]:
# Convert Float64 to int dtypes
District_9_df = District_9_df.astype({'Voter Score':'int','Turnout Score':'int','PartisanshipScore':'int','Kids in HH':'int','Liberal Ideology':'int'})
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,Democrat,F,24,Uncoded,94,79,99,13,74
1,Other,M,32,Hispanic,60,29,54,6,50
2,Democrat,M,24,Hispanic,90,82,97,0,83
3,Other,M,42,Hispanic,56,36,65,65,33
4,Republican,F,71,Caucasian,8,99,1,4,16
...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69,27,75,50,39
73055,Other,F,47,Caucasian,60,5,14,67,42
73056,Republican,F,89,Caucasian,12,39,1,4,14
73057,Other,M,53,Caucasian,56,67,36,89,43
73058,Other,F,63,Caucasian,18,70,2,8,23

In [11]:
# Create a list of our conditions
conditions = [
    (District_9_df['Voter Score'] <= 34),
    (District_9_df['Voter Score'] >= 35) & (District_9_df['Voter Score'] <= 65),
    (District_9_df['Voter Score'] >= 66) & (District_9_df['Voter Score'] <=100)
    ]

# Create of values we want assigned to the conditions
values = ['False', 'True', 'False']

# Create a new column with np.select to assign values to it using our lists as arguments
District_9_df['Swing Voter'] = np.select(conditions, values)

# Display updated DataFrame
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,Swing Voter
0,Democrat,F,24,Uncoded,94,79,99,13,74,False
1,Other,M,32,Hispanic,60,29,54,6,50,True
2,Democrat,M,24,Hispanic,90,82,97,0,83,False
3,Other,M,42,Hispanic,56,36,65,65,33,True
4,Republican,F,71,Caucasian,8,99,1,4,16,False
...,...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69,27,75,50,39,False
73055,Other,F,47,Caucasian,60,5,14,67,42,True
73056,Republican,F,89,Caucasian,12,39,1,4,14,False
73057,Other,M,53,Caucasian,56,67,36,89,43,True
73058,Other,F,63,Caucasian,18,70,2,8,23,False

In [12]:
# Create a list of our conditions
conditions = [
    (District_9_df['Age'] >= 18) & (District_9_df['Age'] <= 24),
    (District_9_df['Age'] >= 25) & (District_9_df['Age'] <= 34),
    (District_9_df['Age'] >= 35) & (District_9_df['Age'] <=44),
    (District_9_df['Age'] >= 45) & (District_9_df['Age'] <=54),
    (District_9_df['Age'] >= 55) & (District_9_df['Age'] <=64),
    (District_9_df['Age'] >= 65),
    ]

# Create of values we want assigned to the conditions
values = ['1', '2', '3','4','5','6']

# Create a new column with np.select to assign values to it using our lists as arguments
District_9_df['Age'] = np.select(conditions, values)

# Display updated DataFrame
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,Swing Voter
0,Democrat,F,1,Uncoded,94,79,99,13,74,False
1,Other,M,2,Hispanic,60,29,54,6,50,True
2,Democrat,M,1,Hispanic,90,82,97,0,83,False
3,Other,M,3,Hispanic,56,36,65,65,33,True
4,Republican,F,6,Caucasian,8,99,1,4,16,False
...,...,...,...,...,...,...,...,...,...,...
73054,Other,F,5,Uncoded,69,27,75,50,39,False
73055,Other,F,4,Caucasian,60,5,14,67,42,True
73056,Republican,F,6,Caucasian,12,39,1,4,14,False
73057,Other,M,4,Caucasian,56,67,36,89,43,True
73058,Other,F,5,Caucasian,18,70,2,8,23,False

In [13]:
# Changing to numerical by label encoder
from sklearn.preprocessing import LabelEncoder 
number = LabelEncoder()
District_9_df["Party"] = number.fit_transform(District_9_df["Party"])
District_9_df["Sex"] = number.fit_transform(District_9_df["Sex"])
District_9_df["Ethnicity"] = number.fit_transform(District_9_df["Ethnicity"])
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,Swing Voter
0,0,0,1,5,94,79,99,13,74,False
1,1,1,2,3,60,29,54,6,50,True
2,0,1,1,3,90,82,97,0,83,False
3,1,1,3,3,56,36,65,65,33,True
4,2,0,6,2,8,99,1,4,16,False
...,...,...,...,...,...,...,...,...,...,...
73054,1,0,5,5,69,27,75,50,39,False
73055,1,0,4,2,60,5,14,67,42,True
73056,2,0,6,2,12,39,1,4,14,False
73057,1,1,4,2,56,67,36,89,43,True
73058,1,0,5,2,18,70,2,8,23,False

In [15]:
#Drop columns that doesn't impact Swing Voter chances
District_9_df.drop(columns=["Voter Score","Turnout Score","PartisanshipScore","Kids in HH", "Liberal Ideology"], inplace=True)
District_9_df

       Party  Sex Age  Ethnicity Swing Voter
0          0    0   1          5       False
1          1    1   2          3        True
2          0    1   1          3       False
3          1    1   3          3        True
4          2    0   6          2       False
...      ...  ...  ..        ...         ...
73054      1    0   5          5       False
73055      1    0   4          2        True
73056      2    0   6          2       False
73057      1    1   4          2        True
73058      1    0   5          2       False

[73059 rows x 5 columns]

In [16]:
y = District_9_df["Swing Voter"]
X = District_9_df.drop(columns="Swing Voter")

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,  random_state=1, stratify=y)
X_train.shape

(54794, 4)

In [18]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [19]:
model.fit(X_train, y_train)

SVC(kernel='linear')

In [20]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

  Prediction Actual
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8674514098001642

In [22]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

C:\Users\leome\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\leome\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

       False       0.87      1.00      0.93     15844
        True       0.00      0.00      0.00      2421

    accuracy                           0.87     18265
   macro avg       0.43      0.50      0.46     18265
weighted avg       0.75      0.87      0.81     18265

C:\Users\leome\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Logistic Regression

In [23]:
# loading cleaned data
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"
engine = create_engine(db_string)
District_9_df = pd.read_sql('SELECT * from district_9', engine)
District_9_df.head(10)

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,2020 marriage,Zip
0,8709138,Democrat,F,24,Uncoded,94.87,79.09,99.1,13.61,74.46,5.19,85210
1,8714234,Other,M,32,Hispanic,60.82,29.78,54.2,6.46,50.10,4.90,85210
2,8761628,Democrat,M,24,Hispanic,90.87,82.11,97.2,0.97,83.44,5.93,85202
3,8571685,Other,M,42,Hispanic,56.74,36.01,65.1,65.08,33.79,74.25,85202
4,8573044,Republican,F,71,Caucasian,8.59,99.08,1.6,4.06,16.84,46.38,85213
5,8573511,Other,M,27,Hispanic,76.12,85.70,9.3,1.72,45.99,38.35,85234
6,8601714,Democrat,M,56,Caucasian,95.34,98.92,94.7,14.35,57.22,24.59,85210
7,8601757,Republican,M,47,Caucasian,8.75,61.36,1.0,78.00,7.81,73.07,85234
8,8601949,Democrat,M,39,Caucasian,91.87,26.76,95.8,32.05,47.81,18.58,85203
9,8601990,Republican,M,26,Hispanic,22.67,15.40,5.5,1.72,22.31,1.80,85234

In [24]:
District_9_df.drop(columns=["Zip","Voter ID","2020 marriage"], inplace=True)
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,Democrat,F,24,Uncoded,94.87,79.09,99.1,13.61,74.46
1,Other,M,32,Hispanic,60.82,29.78,54.2,6.46,50.10
2,Democrat,M,24,Hispanic,90.87,82.11,97.2,0.97,83.44
3,Other,M,42,Hispanic,56.74,36.01,65.1,65.08,33.79
4,Republican,F,71,Caucasian,8.59,99.08,1.6,4.06,16.84
...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69.83,27.59,75.3,50.37,39.55
73055,Other,F,47,Caucasian,60.32,5.77,14.9,67.17,42.85
73056,Republican,F,89,Caucasian,12.61,39.74,1.7,4.09,14.57
73057,Other,M,53,Caucasian,56.50,67.43,36.6,89.49,43.63
73058,Other,F,63,Caucasian,18.48,70.31,2.7,8.47,23.38

In [25]:
# Columns
District_9_df.count()

Party                73059
Sex                  73059
Age                  73059
Ethnicity            73059
Voter Score          73059
Turnout Score        73059
PartisanshipScore    73059
Kids in HH           73059
Liberal Ideology     73059
dtype: int64

In [26]:
District_9_df.dtypes

Party                 object
Sex                   object
Age                    int64
Ethnicity             object
Voter Score          float64
Turnout Score        float64
PartisanshipScore    float64
Kids in HH           float64
Liberal Ideology     float64
dtype: object

In [27]:
District_9_df.isnull()

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
73054,False,False,False,False,False,False,False,False,False
73055,False,False,False,False,False,False,False,False,False
73056,False,False,False,False,False,False,False,False,False
73057,False,False,False,False,False,False,False,False,False
73058,False,False,False,False,False,False,False,False,False

In [28]:
#drop any null or nan in the data frame 
District_9_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=True)
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,Democrat,F,24,Uncoded,94.87,79.09,99.1,13.61,74.46
1,Other,M,32,Hispanic,60.82,29.78,54.2,6.46,50.10
2,Democrat,M,24,Hispanic,90.87,82.11,97.2,0.97,83.44
3,Other,M,42,Hispanic,56.74,36.01,65.1,65.08,33.79
4,Republican,F,71,Caucasian,8.59,99.08,1.6,4.06,16.84
...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69.83,27.59,75.3,50.37,39.55
73055,Other,F,47,Caucasian,60.32,5.77,14.9,67.17,42.85
73056,Republican,F,89,Caucasian,12.61,39.74,1.7,4.09,14.57
73057,Other,M,53,Caucasian,56.50,67.43,36.6,89.49,43.63
73058,Other,F,63,Caucasian,18.48,70.31,2.7,8.47,23.38

In [29]:
District_9_df.isnull().sum()

Party                0
Sex                  0
Age                  0
Ethnicity            0
Voter Score          0
Turnout Score        0
PartisanshipScore    0
Kids in HH           0
Liberal Ideology     0
dtype: int64

In [30]:
District_9_df.dtypes

Party                 object
Sex                   object
Age                    int64
Ethnicity             object
Voter Score          float64
Turnout Score        float64
PartisanshipScore    float64
Kids in HH           float64
Liberal Ideology     float64
dtype: object

In [31]:
# Convert Float64 to int dtypes
District_9_df = District_9_df.astype({'Voter Score':'int','Turnout Score':'int','PartisanshipScore':'int','Kids in HH':'int','Liberal Ideology':'int'})
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,Democrat,F,24,Uncoded,94,79,99,13,74
1,Other,M,32,Hispanic,60,29,54,6,50
2,Democrat,M,24,Hispanic,90,82,97,0,83
3,Other,M,42,Hispanic,56,36,65,65,33
4,Republican,F,71,Caucasian,8,99,1,4,16
...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69,27,75,50,39
73055,Other,F,47,Caucasian,60,5,14,67,42
73056,Republican,F,89,Caucasian,12,39,1,4,14
73057,Other,M,53,Caucasian,56,67,36,89,43
73058,Other,F,63,Caucasian,18,70,2,8,23

In [32]:
# Rename column 1
District_9_df.rename(columns={'PartyName':'Party'}, inplace=True)
District_9_df.head()

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology
0,Democrat,F,24,Uncoded,94,79,99,13,74
1,Other,M,32,Hispanic,60,29,54,6,50
2,Democrat,M,24,Hispanic,90,82,97,0,83
3,Other,M,42,Hispanic,56,36,65,65,33
4,Republican,F,71,Caucasian,8,99,1,4,16

In [33]:
# Create a list of our conditions
conditions = [
    (District_9_df['Voter Score'] <= 34),
    (District_9_df['Voter Score'] >= 35) & (District_9_df['Voter Score'] <= 65),
    (District_9_df['Voter Score'] >= 66) & (District_9_df['Voter Score'] <=100)
    ]

# Create of values we want assigned to the conditions
values = ['False', 'True', 'False']

# Create a new column with np.select to assign values to it using our lists as arguments
District_9_df['SwingVoter'] = np.select(conditions, values)

# Display updated DataFrame
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,SwingVoter
0,Democrat,F,24,Uncoded,94,79,99,13,74,False
1,Other,M,32,Hispanic,60,29,54,6,50,True
2,Democrat,M,24,Hispanic,90,82,97,0,83,False
3,Other,M,42,Hispanic,56,36,65,65,33,True
4,Republican,F,71,Caucasian,8,99,1,4,16,False
...,...,...,...,...,...,...,...,...,...,...
73054,Other,F,58,Uncoded,69,27,75,50,39,False
73055,Other,F,47,Caucasian,60,5,14,67,42,True
73056,Republican,F,89,Caucasian,12,39,1,4,14,False
73057,Other,M,53,Caucasian,56,67,36,89,43,True
73058,Other,F,63,Caucasian,18,70,2,8,23,False

In [35]:
# Create a list of our conditions
conditions = [
    (District_9_df['Age'] >= 18) & (District_9_df['Age'] <= 24),
    (District_9_df['Age'] >= 25) & (District_9_df['Age'] <= 34),
    (District_9_df['Age'] >= 35) & (District_9_df['Age'] <=44),
    (District_9_df['Age'] >= 45) & (District_9_df['Age'] <=54),
    (District_9_df['Age'] >= 55) & (District_9_df['Age'] <=64),
    (District_9_df['Age'] >= 65),
    ]

# Create of values we want assigned to the conditions
values = ['1', '2', '3','4','5','6']

# Create a new column with np.select to assign values to it using our lists as arguments
District_9_df['Age'] = np.select(conditions, values)

# Display updated DataFrame
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,SwingVoter
0,Democrat,F,1,Uncoded,94,79,99,13,74,False
1,Other,M,2,Hispanic,60,29,54,6,50,True
2,Democrat,M,1,Hispanic,90,82,97,0,83,False
3,Other,M,3,Hispanic,56,36,65,65,33,True
4,Republican,F,6,Caucasian,8,99,1,4,16,False
...,...,...,...,...,...,...,...,...,...,...
73054,Other,F,5,Uncoded,69,27,75,50,39,False
73055,Other,F,4,Caucasian,60,5,14,67,42,True
73056,Republican,F,6,Caucasian,12,39,1,4,14,False
73057,Other,M,4,Caucasian,56,67,36,89,43,True
73058,Other,F,5,Caucasian,18,70,2,8,23,False

In [36]:
# Changing to numerical by label encoder
from sklearn.preprocessing import LabelEncoder 
number = LabelEncoder()
District_9_df["Party"] = number.fit_transform(District_9_df["Party"])
District_9_df["Sex"] = number.fit_transform(District_9_df["Sex"])
District_9_df["Ethnicity"] = number.fit_transform(District_9_df["Ethnicity"])
District_9_df["SwingVoter"] = number.fit_transform(District_9_df["SwingVoter"])
District_9_df

,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,PartisanshipScore,Kids in HH,Liberal Ideology,SwingVoter
0,0,0,1,5,94,79,99,13,74,0
1,1,1,2,3,60,29,54,6,50,1
2,0,1,1,3,90,82,97,0,83,0
3,1,1,3,3,56,36,65,65,33,1
4,2,0,6,2,8,99,1,4,16,0
...,...,...,...,...,...,...,...,...,...,...
73054,1,0,5,5,69,27,75,50,39,0
73055,1,0,4,2,60,5,14,67,42,1
73056,2,0,6,2,12,39,1,4,14,0
73057,1,1,4,2,56,67,36,89,43,1
73058,1,0,5,2,18,70,2,8,23,0

In [37]:
#Drop columns that doesn't impact Swing Voter chances
District_9_df.drop(columns=["Voter Score","Turnout Score","PartisanshipScore","Kids in HH", "Liberal Ideology"], inplace=True)
District_9_df

       Party  Sex Age  Ethnicity  SwingVoter
0          0    0   1          5           0
1          1    1   2          3           1
2          0    1   1          3           0
3          1    1   3          3           1
4          2    0   6          2           0
...      ...  ...  ..        ...         ...
73054      1    0   5          5           0
73055      1    0   4          2           1
73056      2    0   6          2           0
73057      1    1   4          2           1
73058      1    0   5          2           0

[73059 rows x 5 columns]

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
y = District_9_df["SwingVoter"]
X = District_9_df.drop(columns="SwingVoter")

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y, random_state=1, stratify=y)

In [41]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200, random_state=1)

In [43]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [44]:
y_pred = classifier.predict(X_test)

In [45]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8674514098001642

In [47]:
df = pd.DataFrame({
    'Actual': y_test,
    'Predicted': list(y_pred)
})

df

       Actual  Predicted
60855       0          0
1509        0          0
54536       0          0
32061       0          0
49503       0          0
...       ...        ...
22615       0          0
10787       0          0
35122       1          0
20881       0          0
48252       0          0

[18265 rows x 2 columns]

In [48]:
df.Actual.value_counts()

0    15844
1     2421
Name: Actual, dtype: int64

In [49]:
df.Predicted.value_counts()

0    18265
Name: Predicted, dtype: int64

In [50]:
from sklearn.metrics import classification_report

In [51]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      1.00      0.93     15844
           1       0.00      0.00      0.00      2421

    accuracy                           0.87     18265
   macro avg       0.43      0.50      0.46     18265
weighted avg       0.75      0.87      0.81     18265

C:\Users\leome\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\leome\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\leome\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Undersampling Majority 0 to Minority 1

In [52]:
df = District_9_df.copy()

In [53]:
df.sample()

       Party  Sex Age  Ethnicity  SwingVoter
55216      2    0   5          2           0

In [54]:
df_zeros = df[df.SwingVoter == 0]
df_ones = df[df.SwingVoter == 1]

In [55]:
df_zeros.shape

(63377, 5)

In [56]:
df_zeros = df_zeros.sample(df_ones.shape[0])

In [57]:
df_zeros.shape

(9682, 5)

In [58]:
df_ones.shape

(9682, 5)

In [59]:
undersample_df = pd.concat([df_zeros, df_ones])

In [60]:
undersample_df.shape

(19364, 5)

In [61]:
undersample_df.head(3)

       Party  Sex Age  Ethnicity  SwingVoter
4884       0    0   6          2           0
13446      2    0   6          2           0
39843      0    1   6          2           0

In [62]:
X = undersample_df.drop(['SwingVoter'], axis=1)

In [63]:
y = undersample_df['SwingVoter']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [65]:
model = LogisticRegression()

In [66]:
model.fit(X_train, y_train)

LogisticRegression()

In [67]:
y_pred = model.predict(X_test)

In [68]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.58      0.57      0.58      1915
           1       0.59      0.59      0.59      1958

    accuracy                           0.58      3873
   macro avg       0.58      0.58      0.58      3873
weighted avg       0.58      0.58      0.58      3873