In [1]:
#importing possible libraries and dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from path import Path
from config import db_password
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [2]:
#file path will be update to the table created in our sql database
file_path = "C:/Users/r_1rm/Arizona_Election_Project/Machine_learning - Copy/Leg_District_2.csv"
Leg_District_2_df = pd.read_csv(file_path)
Leg_District_2_df.head(10)

,Voter File VANID,PartyName,Sex,Age,CodedRaceName,LastName,FirstName,MiddleName,Suffix,CD,...,StreetPrefix,StreetName,StreetType,StreetSuffix,AptType,AptNo,City,State,Zip5,Zip4
0,99402,Republican,F,79,White (High),Smidt,Susan,Theresa,NaN,1,...,E,Meadow,Ln,NaN,NaN,NaN,Phoenix,AZ,85022,4429.0
1,99440,Republican,F,97,White (High),Neller,Beverly,NaN,NaN,1,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,6038.0
2,99482,Republican,F,89,White (High),Niemeier,Doris,Ann,NaN,1,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,6002.0
3,99483,Republican,F,77,White (High),Shelor,Donna,Ruth,NaN,1,...,W,Beck,Ln,NaN,NaN,NaN,Phoenix,AZ,85023,3461.0
4,99521,Other,M,67,White (High),McDonald,Michael,Francis,NaN,1,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,7200.0
5,99522,Other,F,61,White (High),Mc Donald,Katherine,Marie,NaN,1,...,E,Michelle,Dr,NaN,NaN,NaN,Phoenix,AZ,85022,7200.0
6,99562,Democrat,M,76,White (Medium),Brown,William,Stanley,NaN,1,...,E,Michigan,Ave,NaN,NaN,NaN,Phoenix,AZ,85022,1025.0
7,227243,Democrat,F,51,White (High),Reed,Julie,NaN,NaN,1,...,N,7th,St,NaN,Apt,2130,Phoenix,AZ,85022,1974.0
8,227301,Republican,M,86,White (High),Johnson,John,Fredrick,NaN,1,...,E,Linda,Cir,NaN,NaN,NaN,Phoenix,AZ,85050,3133.0
9,227302,Democrat,F,64,White (High),Johnson,Helen,Irene,NaN,1,...,E,Linda,Cir,NaN,NaN,NaN,Phoenix,AZ,85050,3133.0

In [3]:
# seeing all data types
Leg_District_2_df.dtypes

Voter File VANID      int64
PartyName            object
Sex                  object
Age                   int64
CodedRaceName        object
                     ...
AptNo                object
City                 object
State                object
Zip5                  int64
Zip4                float64
Length: 95, dtype: object

In [4]:
#droping all columns that we discuss with team as to not needed for Analysis
#or ML
#droping all columns that we discuss with team as to not needed for Analysis
#or ML
#droping all columns that we discuss with team as to not needed for Analysis
#or ML
Leg_District_2_df.drop(columns=[
    "2016:DNC:DBRolRsk","CodedRaceName","CivPart.1","2016:DNC:AVEV",
    "2016:DNC:AVEVTime","2016:DLCC:SCandSup","2016:DLCC:SGOTV",
    "2016:DLCC:SPers","2016:DNCCatholic","2016:DNCCollegeGrad",
    "2016:DNCDefectRisk","2016:DNCGenericDem","2016:DNCEvangelical",
    "2016:DNCGenTurnoutV2","2016:DNCHighSchool","2016:DNCIncome",
    "2016:DNCIssueCampFin","2016:DNCIssueClimate",
    "2016:DNCIssueCollege","2016:DNCIssuePrivacy",
    "2016:DNCIssueGunCtrl","2016:DNCIssueMinWage",
    "2016:DNCIssuePdLeave","2016:DNCIssueCitizen",
    "2016:DNCIssueChoice","2016:DNCIssueProgTax",
    "2016:DNCNonChristian","2016:DNCOthChristian",
    "2016:DNCVolPropV4","2016:DNCVolPrPhV4","2016:DNCVolPrWV4",
    "KopTurnout2016","2016:TSM:ASDCDon","2018:DNCDemSupport",
    "Healthcare","AntiGopInc","AntiGOP","KirkpatrickSup","TrmpChck",
    "2018:Cla:DCCCTNT","AVEV","CultPers","EconPers","PoliPers",
    "TrumpPers","DSCCTnt","BalDrop","CivGOTV","CivPart","CivRace",
    "CivTnt","2018:DCCCBLHGS","SHGOTV","SHSup","SSGOTV","SSSup",
    "Tnt","CodedRaceName","2018:TSM:MdGnTNT","2018:TSM:NatPart",
    "2018:TSM:NPYPT","CivPart","YEARXXScoreSName","DemPartySup",
    "CivSpan","Covid","2020:VolProp","StreetNo","StreetNoHalf",
    "StreetPrefix","StreetName","StreetType","StreetSuffix",
    "AptType","AptNo","State","CD","HD","SD","Zip4 ","City",
    "LastName","FirstName","MiddleName","Suffix","Partisanship","2020:CivMarriage"], inplace=True)

#Renaming the columns so all datasets match at the end of our project '2020:CivMarriage':'2020 marriage',
Leg_District_2_df.rename(columns=
    {'Voter File VANID': 'voter_id', 'PartyName': 'Party','2018:TSM:Eth': 'Ethnicity',
      'DemPartySup2': 'Voter Score','NatTO':'Turnout Score','2020:CivKidsinHH':
     'Kids in HH','2020:CivLibIdeo':'Liberal Ideology',
     'Zip5':'Zip'
    }, inplace=True)

Leg_District_2_df

,voter_id,Party,Sex,Age,Ethnicity,Partisan Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,99402,Republican,F,79,Caucasian,7.36,99.48,5.59,6.90,85022
1,99440,Republican,F,97,Caucasian,5.89,96.51,0.76,10.88,85022
2,99482,Republican,F,89,Caucasian,6.32,97.13,2.02,5.64,85022
3,99483,Republican,F,77,Caucasian,9.06,86.65,1.34,12.24,85023
4,99521,Other,M,67,Caucasian,17.20,88.63,71.96,26.06,85022
...,...,...,...,...,...,...,...,...,...,...
103700,241525,Republican,F,67,Caucasian,3.94,99.47,5.92,7.08,85053
103701,241548,Republican,F,46,Caucasian,5.81,85.34,57.15,14.35,85053
103702,241582,Democrat,F,72,Caucasian,92.37,83.98,4.40,46.78,85053
103703,241618,Republican,M,64,Caucasian,5.29,99.38,23.25,3.51,85053
103704,241638,Democrat,F,74,Caucasian,94.87,99.28,3.21,75.49,85053

In [5]:
# Columns
Leg_District_2_df.count()

voter_id            103705
Party               103705
Sex                 103705
Age                 103705
Ethnicity            89655
Partisan Score      103705
Turnout Score       103705
Kids in HH           98574
Liberal Ideology     98574
Zip                 103705
dtype: int64

In [6]:
Leg_District_2_df.isnull()

,voter_id,Party,Sex,Age,Ethnicity,Partisan Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
103700,False,False,False,False,False,False,False,False,False,False
103701,False,False,False,False,False,False,False,False,False,False
103702,False,False,False,False,False,False,False,False,False,False
103703,False,False,False,False,False,False,False,False,False,False
103704,False,False,False,False,False,False,False,False,False,False

In [7]:

Leg_District_2_df.isnull().sum()

voter_id                0
Party                   0
Sex                     0
Age                     0
Ethnicity           14050
Partisan Score          0
Turnout Score           0
Kids in HH           5131
Liberal Ideology     5131
Zip                     0
dtype: int64

In [8]:
# Determine if there are not any missing values in the student data.

Leg_District_2_df.notnull()

,voter_id,Party,Sex,Age,Ethnicity,Partisan Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
103700,True,True,True,True,True,True,True,True,True,True
103701,True,True,True,True,True,True,True,True,True,True
103702,True,True,True,True,True,True,True,True,True,True
103703,True,True,True,True,True,True,True,True,True,True
103704,True,True,True,True,True,True,True,True,True,True

In [9]:
# Determine if there are not any missing values in the data.
Leg_District_2_df.notnull().sum()

voter_id            103705
Party               103705
Sex                 103705
Age                 103705
Ethnicity            89655
Partisan Score      103705
Turnout Score       103705
Kids in HH           98574
Liberal Ideology     98574
Zip                 103705
dtype: int64

In [10]:
clean_District_2_df=Leg_District_2_df.dropna()
clean_District_2_df

,voter_id,Party,Sex,Age,Ethnicity,Partisan Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,99402,Republican,F,79,Caucasian,7.36,99.48,5.59,6.90,85022
1,99440,Republican,F,97,Caucasian,5.89,96.51,0.76,10.88,85022
2,99482,Republican,F,89,Caucasian,6.32,97.13,2.02,5.64,85022
3,99483,Republican,F,77,Caucasian,9.06,86.65,1.34,12.24,85023
4,99521,Other,M,67,Caucasian,17.20,88.63,71.96,26.06,85022
...,...,...,...,...,...,...,...,...,...,...
103700,241525,Republican,F,67,Caucasian,3.94,99.47,5.92,7.08,85053
103701,241548,Republican,F,46,Caucasian,5.81,85.34,57.15,14.35,85053
103702,241582,Democrat,F,72,Caucasian,92.37,83.98,4.40,46.78,85053
103703,241618,Republican,M,64,Caucasian,5.29,99.38,23.25,3.51,85053
103704,241638,Democrat,F,74,Caucasian,94.87,99.28,3.21,75.49,85053

In [11]:
# seeing all data types
Leg_District_2_df.dtypes

voter_id              int64
Party                object
Sex                  object
Age                   int64
Ethnicity            object
Partisan Score      float64
Turnout Score       float64
Kids in HH          float64
Liberal Ideology    float64
Zip                   int64
dtype: object

In [12]:
#verifying there is no more missing values in rows
# Determine if there are not any missing values in the student data.
Leg_District_2_df.notnull().count()

voter_id            103705
Party               103705
Sex                 103705
Age                 103705
Ethnicity           103705
Partisan Score      103705
Turnout Score       103705
Kids in HH          103705
Liberal Ideology    103705
Zip                 103705
dtype: int64

In [13]:
#drop any null or nan in the data frame 
Leg_District_2_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=True)
Leg_District_2_df

,voter_id,Party,Sex,Age,Ethnicity,Partisan Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,99402,Republican,F,79,Caucasian,7.36,99.48,5.59,6.90,85022
1,99440,Republican,F,97,Caucasian,5.89,96.51,0.76,10.88,85022
2,99482,Republican,F,89,Caucasian,6.32,97.13,2.02,5.64,85022
3,99483,Republican,F,77,Caucasian,9.06,86.65,1.34,12.24,85023
4,99521,Other,M,67,Caucasian,17.20,88.63,71.96,26.06,85022
...,...,...,...,...,...,...,...,...,...,...
103700,241525,Republican,F,67,Caucasian,3.94,99.47,5.92,7.08,85053
103701,241548,Republican,F,46,Caucasian,5.81,85.34,57.15,14.35,85053
103702,241582,Democrat,F,72,Caucasian,92.37,83.98,4.40,46.78,85053
103703,241618,Republican,M,64,Caucasian,5.29,99.38,23.25,3.51,85053
103704,241638,Democrat,F,74,Caucasian,94.87,99.28,3.21,75.49,85053

In [14]:
#exporting clean dataframe to pg admin before it was csv
# clean_District_2_df.to_csv("/Users/lesleyrodriguez/Desktop/Frank_D13_code/District13_Data.csv", index = False, header=True)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"
engine = create_engine(db_string)
clean_District_2_df.to_sql('district13', 
                   con = engine,
                  if_exists='replace',
                  index=False,
                  method='multi') 
clean_District_2_df

,voter_id,Party,Sex,Age,Ethnicity,Partisan Score,Turnout Score,Kids in HH,Liberal Ideology,Zip
0,99402,Republican,F,79,Caucasian,7.36,99.48,5.59,6.90,85022
1,99440,Republican,F,97,Caucasian,5.89,96.51,0.76,10.88,85022
2,99482,Republican,F,89,Caucasian,6.32,97.13,2.02,5.64,85022
3,99483,Republican,F,77,Caucasian,9.06,86.65,1.34,12.24,85023
4,99521,Other,M,67,Caucasian,17.20,88.63,71.96,26.06,85022
...,...,...,...,...,...,...,...,...,...,...
103700,241525,Republican,F,67,Caucasian,3.94,99.47,5.92,7.08,85053
103701,241548,Republican,F,46,Caucasian,5.81,85.34,57.15,14.35,85053
103702,241582,Democrat,F,72,Caucasian,92.37,83.98,4.40,46.78,85053
103703,241618,Republican,M,64,Caucasian,5.29,99.38,23.25,3.51,85053
103704,241638,Democrat,F,74,Caucasian,94.87,99.28,3.21,75.49,85053