In [1]:
#importing possible libraries and dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from path import Path

In [2]:
# Load the crypto_data.csv dataset.
#file path will be update to the table created in our sql database
file_path = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/Machine_learning/dummy data.csv"
Arizona_Election_df = pd.read_csv(file_path)
Arizona_Election_df.head(10)

        Party Sex  Partisan Score  Turnout Score
0  Democratic   F              63             75
1  Democratic   M              63             75
2  Democratic   M              63             75
3  Democratic   F              63             75
4  Democratic   M              63             75
5  Democratic   F              63             75
6  Democratic   F              63             75
7  Democratic   F              63             75
8  Democratic   M              63             75
9  Democratic   U              63             75

In [3]:
##Preprocessing The Data this step might not be needed once data is clean and database tables are set
##and full with information needed

In [4]:
#seeing all data types
Arizona_Election_df.dtypes

Party             object
Sex               object
Partisan Score     int64
Turnout Score      int64
dtype: object

In [5]:
#Drop all columns contained unecesarry features or null nan 
Arizona_Election_df.drop(columns=["Turnout Score"], inplace=True)
Arizona_Election_df

           Party Sex  Partisan Score
0     Democratic   F              63
1     Democratic   M              63
2     Democratic   M              63
3     Democratic   F              63
4     Democratic   M              63
...          ...  ..             ...
9994       Other   F              63
9995       Other   M              63
9996       Other   M              63
9997       Other   F              63
9998       Other   F              63

[9999 rows x 3 columns]

In [6]:
#drop any null or nan in the data frame 
Arizona_Election_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=False)
Arizona_Election_df

           Party Sex  Partisan Score
0     Democratic   F              63
1     Democratic   M              63
2     Democratic   M              63
3     Democratic   F              63
4     Democratic   M              63
...          ...  ..             ...
9994       Other   F              63
9995       Other   M              63
9996       Other   M              63
9997       Other   F              63
9998       Other   F              63

[9999 rows x 3 columns]

In [17]:
#converting label columns from txt to numerical model can only work with numberical numbers
X = pd.get_dummies(Arizona_Election_df, columns=["Sex","Party",]).drop('Partisan Score', axis=1)

# Create our target
y = Arizona_Election_df['Partisan Score']
X.head()

   Sex_F  Sex_M  Sex_U  Party_Democratic  Party_Other  Party_Republican
0      1      0      0                 1            0                 0
1      0      1      0                 1            0                 0
2      0      1      0                 1            0                 0
3      1      0      0                 1            0                 0
4      0      1      0                 1            0                 0

In [18]:
X.describe()

,Sex_F,Sex_M,Sex_U,Party_Democratic,Party_Other,Party_Republican
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,0.493949,0.362536,0.143514,0.398640,0.209321,0.392039
std,0.499988,0.480757,0.350614,0.489643,0.406844,0.488230
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
#check the balance of our taget very important can be hindering
X.value_counts()

Sex_F  Sex_M  Sex_U  Party_Democratic  Party_Other  Party_Republican
1      0      0      1                 0            0                   1948
                     0                 0            1                   1934
0      1      0      1                 0            0                   1534
                     0                 0            1                   1378
1      0      0      0                 1            0                   1057
0      1      0      0                 1            0                    713
       0      1      0                 0            1                    608
                     1                 0            0                    504
                     0                 1            0                    323
dtype: int64

In [20]:
#check the balance of our target very important spent a good time trying to figurere out 
y.value_counts()

63    9999
Name: Partisan Score, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [23]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [25]:
# importing module
from sklearn.linear_model import LinearRegression
# creating our model and assigning its function
model = LinearRegression()
# fitting the training data
model .fit(x,y)

LinearRegression()

In [26]:
y_prediction =  model.predict(x_test)
y_prediction

array([63., 63., 63., ..., 63., 63., 63.])

In [30]:
# importing r2_score module
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 1.0