In [1]:
#importing possible libraries and dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from path import Path
from config import db_password
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
# Load the crypto_data.csv dataset.
#file path will be update to the table created in our sql database
# file_path = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/Machine_learning/dummy data.csv"
# Arizona_Election_df = pd.read_csv(file_path)
# Arizona_Election_df.head(10)
# host= "localhost"
# database = "Arizona_Elections"
# user= "postgres"
# password = "db_password"

In [3]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"

In [4]:
engine = create_engine(db_string)

In [5]:
Arizona_Election_df = pd.read_sql('SELECT * from machinelearning', engine)

In [6]:
Arizona_Election_df.head()

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,2020 marriage,Zip,Pscore
0,15777,Republican,M,72,Caucasian,8.15,99.22,6.75,4.14,80.49,85224,False
1,22507,Democrat,M,56,Hispanic,91.74,99.13,34.25,70.85,66.12,85286,False
2,24594,Democrat,F,70,Caucasian,98.02,98.35,13.59,94.71,83.72,85248,False
3,40503,Democrat,M,70,Caucasian,93.63,97.76,13.28,79.04,96.15,85225,False
4,48534,Other,F,66,Caucasian,91.58,98.97,7.58,78.62,61.70,85249,False

In [7]:
##Preprocessing TEe Data this step might not be needed once data is clean and database tables are set
##and full with information needed

In [8]:
#seeing all data types
Arizona_Election_df.dtypes

Voter ID              int64
Party                object
Sex                  object
Age                   int64
Ethnicity            object
Voter Score         float64
Turnout Score       float64
Kids in HH          float64
Liberal Ideology    float64
2020 marriage       float64
Zip                   int64
Pscore               object
dtype: object

In [10]:
#Drop all columns contained unecesarry features or null nan 
Arizona_Election_df.drop(columns=['Voter Score','Voter ID','Zip'], inplace=True)
Arizona_Election_df

,Party,Sex,Age,Ethnicity,Turnout Score,Kids in HH,Liberal Ideology,2020 marriage,Pscore
0,Republican,M,72,Caucasian,99.22,6.75,4.14,80.49,False
1,Democrat,M,56,Hispanic,99.13,34.25,70.85,66.12,False
2,Democrat,F,70,Caucasian,98.35,13.59,94.71,83.72,False
3,Democrat,M,70,Caucasian,97.76,13.28,79.04,96.15,False
4,Other,F,66,Caucasian,98.97,7.58,78.62,61.70,False
...,...,...,...,...,...,...,...,...,...
86672,Democrat,M,22,Caucasian,90.56,4.31,57.35,3.04,False
86673,Other,M,27,Caucasian,30.00,0.98,58.02,1.30,False
86674,Other,F,56,Caucasian,89.69,27.86,26.66,95.50,False
86675,Democrat,F,76,Caucasian,95.07,3.56,76.52,86.19,False
86676,Democrat,F,48,African-American,83.61,52.20,45.37,47.29,False

In [11]:
# #drop any null or nan in the data frame 
# Arizona_Election_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=False)
# Arizona_Election_df not longer needed

In [12]:
# Convert the target column values to low_chance and high_chance based on their values
x = {'False': 'Low_chance'}   
Arizona_Election_df = Arizona_Election_df.replace(x)

x = dict.fromkeys(['True'], 'High_Chance')    
Arizona_Election_df = Arizona_Election_df.replace(x)

Arizona_Election_df.reset_index(inplace=True, drop=True)

Arizona_Election_df

,Party,Sex,Age,Ethnicity,Turnout Score,Kids in HH,Liberal Ideology,2020 marriage,Pscore
0,Republican,M,72,Caucasian,99.22,6.75,4.14,80.49,Low_chance
1,Democrat,M,56,Hispanic,99.13,34.25,70.85,66.12,Low_chance
2,Democrat,F,70,Caucasian,98.35,13.59,94.71,83.72,Low_chance
3,Democrat,M,70,Caucasian,97.76,13.28,79.04,96.15,Low_chance
4,Other,F,66,Caucasian,98.97,7.58,78.62,61.70,Low_chance
...,...,...,...,...,...,...,...,...,...
86672,Democrat,M,22,Caucasian,90.56,4.31,57.35,3.04,Low_chance
86673,Other,M,27,Caucasian,30.00,0.98,58.02,1.30,Low_chance
86674,Other,F,56,Caucasian,89.69,27.86,26.66,95.50,Low_chance
86675,Democrat,F,76,Caucasian,95.07,3.56,76.52,86.19,Low_chance
86676,Democrat,F,48,African-American,83.61,52.20,45.37,47.29,Low_chance

In [14]:
#converting label columns from txt to numerical model can only work with numberical numbers
X = pd.get_dummies(Arizona_Election_df, 
                   columns=["Sex","Party",'Ethnicity',]).drop('Pscore', axis=1)

# Create our target
y = Arizona_Election_df['Pscore']
X.head()

,Age,Turnout Score,Kids in HH,Liberal Ideology,2020 marriage,Sex_F,Sex_M,Party_Democrat,Party_Other,Party_Republican,Ethnicity_African-American,Ethnicity_Asian,Ethnicity_Caucasian,Ethnicity_Hispanic,Ethnicity_Native American,Ethnicity_Uncoded
0,72,99.22,6.75,4.14,80.49,0,1,0,0,1,0,0,1,0,0,0
1,56,99.13,34.25,70.85,66.12,0,1,1,0,0,0,0,0,1,0,0
2,70,98.35,13.59,94.71,83.72,1,0,1,0,0,0,0,1,0,0,0
3,70,97.76,13.28,79.04,96.15,0,1,1,0,0,0,0,1,0,0,0
4,66,98.97,7.58,78.62,61.70,1,0,0,1,0,0,0,1,0,0,0

In [15]:
X.describe()

,Age,Turnout Score,Kids in HH,Liberal Ideology,2020 marriage,Sex_F,Sex_M,Party_Democrat,Party_Other,Party_Republican,Ethnicity_African-American,Ethnicity_Asian,Ethnicity_Caucasian,Ethnicity_Hispanic,Ethnicity_Native American,Ethnicity_Uncoded
count,86677.000000,86677.000000,86677.000000,86677.000000,86677.000000,86677.000000,86677.000000,86677.000000,86677.000000,86677.00000,86677.000000,86677.000000,86677.000000,86677.000000,86677.000000,86677.000000
mean,55.159973,80.031703,38.353084,38.090964,69.290473,0.525226,0.474774,0.289419,0.298511,0.41207,0.006830,0.028104,0.821510,0.094316,0.001811,0.047429
std,16.973011,25.741421,33.875442,29.772311,33.471216,0.499366,0.499366,0.453495,0.457607,0.49221,0.082361,0.165272,0.382927,0.292269,0.042521,0.212556
min,22.000000,0.420000,0.060000,0.500000,0.100000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,42.000000,70.840000,5.640000,10.160000,43.290000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,55.000000,91.750000,27.220000,30.520000,86.110000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,68.000000,98.900000,72.840000,64.600000,97.420000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,100.000000,99.840000,99.530000,99.420000,99.990000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
#check the balance of our target very important spent a good time trying to figurere out 
y.value_counts()

Low_chance     80369
High_Chance     6308
Name: Pscore, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [18]:
# Train the model with Balanced Random Forest Classifier
from imblearn.ensemble import BalancedRandomForestClassifier
model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
model.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [19]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7506649880213002

In [20]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[ 1236,   341],
       [ 5675, 14418]])

In [21]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

High_Chance       0.18      0.78      0.72      0.29      0.75      0.57      1577
 Low_chance       0.98      0.72      0.78      0.83      0.75      0.56     20093

avg / total       0.92      0.72      0.78      0.79      0.75      0.56     21670

In [22]:
# List the features sorted in descending order by feature importance
important_features = pd.Series(data=model.feature_importances_,index=X.columns)
important_features.sort_values(ascending=False,inplace=True)
with pd.option_context('display.max_rows', 100):
    print(important_features)

Liberal Ideology              0.182305
Turnout Score                 0.176328
2020 marriage                 0.138030
Kids in HH                    0.133353
Party_Other                   0.117853
Age                           0.107088
Party_Republican              0.064292
Party_Democrat                0.035576
Ethnicity_Caucasian           0.011666
Sex_M                         0.007963
Ethnicity_Hispanic            0.007668
Sex_F                         0.007286
Ethnicity_Uncoded             0.004705
Ethnicity_Asian               0.003818
Ethnicity_African-American    0.001618
Ethnicity_Native American     0.000450
dtype: float64

In [23]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual High_chane", "Actual low_Chance"], columns=["Predicted high_Chance", "Predicted low_Chance"])
cm_df

                   Predicted high_Chance  Predicted low_Chance
Actual High_chane                   1236                   341
Actual low_Chance                   5675                 14418