In [6]:
#importing possible libraries and dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd
from path import Path
from config import db_password
from sqlalchemy import create_engine
from sqlalchemy import inspect

NameError: name 'null' is not defined

In [2]:
 Load the crypto_data.csv dataset.
file path will be update to the table created in our sql database
file_path = "/C:\Users\r_1rm\Arizona_Election_Project\Machine_learning - Copy/Leg_District_2"
Arizona_Election_df = pd.read_csv(file_path)
Arizona_Election_df.head(10)
host= "localhost"
database = "Arizona_Elections"
user= "postgres"
password = "db_password"

In [5]:
from config import db_password
cnxn_string = f'postgresql://root:{db_password}@mypostgresdb.con1okuf2m82.us-east-1.rds.amazonaws.com:5432/my_data_class_db'

df = pd.DataFrame({'feature_1': [0, 1, 2],
                   'feature_2': [3, 4, 5],
                   'feature_3': ['a', 'b', 'c']})

df.to_sql('demo_table', cnxn_string, index=True, if_exists='replace')
df2 = pd.read_sql('demo_table', cnxn_string)
df2.head()

NameError: name 'null' is not defined

In [ ]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"

In [ ]:
engine = create_engine(db_string)

In [4]:
Arizona_Election_df = pd.read_sql('SELECT * from machinelearning', engine)

In [5]:
Arizona_Election_df.head()

In [6]:
##Preprocessing TEe Data this step might not be needed once data is clean and database tables are set
##and full with information needed 
Clean_District2_df.to_sql('district13',
                   con = engine,
                  if_exists='replace',
                  index=False,
                  method='multi')
Clean_District2_df

        party gender  partisian_score  turnout_score
0  Democratic      F               63             75
1  Democratic      M               63             75
2  Democratic      M               63             75
3  Democratic      F               63             75
4  Democratic      M               63             75

In [8]:
#seeing all data types
Arizona_Election_df.dtypes

party              object
gender             object
partisian_score     int64
turnout_score       int64
dtype: object

In [9]:
#Drop all columns contained unecesarry features or null nan 
Arizona_Election_df.drop(columns=["turnout_score"], inplace=True)
Arizona_Election_df

           party gender  partisian_score
0     Democratic      F               63
1     Democratic      M               63
2     Democratic      M               63
3     Democratic      F               63
4     Democratic      M               63
...          ...    ...              ...
9994       Other      F               63
9995       Other      M               63
9996       Other      M               63
9997       Other      F               63
9998       Other      F               63

[9999 rows x 3 columns]

In [10]:
#drop any null or nan in the data frame 
Arizona_Election_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace=False)
Arizona_Election_df

           party gender  partisian_score
0     Democratic      F               63
1     Democratic      M               63
2     Democratic      M               63
3     Democratic      F               63
4     Democratic      M               63
...          ...    ...              ...
9994       Other      F               63
9995       Other      M               63
9996       Other      M               63
9997       Other      F               63
9998       Other      F               63

[9999 rows x 3 columns]

In [11]:
#converting label columns from txt to numerical model can only work with numberical numbers
X = pd.get_dummies(Arizona_Election_df, columns=["gender","party",]).drop('partisian_score', axis=1)

# Create our target
y = Arizona_Election_df['partisian_score']
X.head()

,gender_F,gender_M,gender_U,party_Democratic,party_Other,party_Republican
0,1,0,0,1,0,0
1,0,1,0,1,0,0
2,0,1,0,1,0,0
3,1,0,0,1,0,0
4,0,1,0,1,0,0

In [12]:
X.describe()

,gender_F,gender_M,gender_U,party_Democratic,party_Other,party_Republican
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,0.493949,0.362536,0.143514,0.398640,0.209321,0.392039
std,0.499988,0.480757,0.350614,0.489643,0.406844,0.488230
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
#check the balance of our taget very important can be hindering
X.value_counts()

gender_F  gender_M  gender_U  party_Democratic  party_Other  party_Republican
1         0         0         1                 0            0                   1948
                              0                 0            1                   1934
0         1         0         1                 0            0                   1534
                              0                 0            1                   1378
1         0         0         0                 1            0                   1057
0         1         0         0                 1            0                    713
          0         1         0                 0            1                    608
                              1                 0            0                    504
                              0                 1            0                    323
dtype: int64

In [14]:
#check the balance of our target very important spent a good time trying to figurere out 
y.value_counts()

63    9999
Name: partisian_score, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [16]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [17]:
# importing module
from sklearn.linear_model import LinearRegression
# creating our model and assigning its function
model = LinearRegression()
# fitting the training data
model .fit(X,y)

LinearRegression()

In [18]:
y_prediction =  model.predict(X_test)
y_prediction

array([63., 63., 63., ..., 63., 63., 63.])

In [19]:
# importing r2_score module
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 1.0

In [7]:
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

NameError: name 'df' is not defined