In [1]:
#importing possible libraries and dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from path import Path
from config import db_password
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [3]:
# Load the crypto_data.csv dataset.
file_path = "/Users/lesleyrodriguez/Desktop/Arizona_Election_Project/D13_cleaning:analyzing /Resources/Leg_District_13.csv"
District13_df = pd.read_csv(file_path)
#view the Dataset 
District13_df.head(10)

,Voter File VANID,PartyName,Sex,Age,CodedRaceName,LastName,FirstName,MiddleName,Suffix,CD,...,StreetPrefix,StreetName,StreetType,StreetSuffix,AptType,AptNo,City,State,Zip5,Zip4
0,15777,Republican,M,72,White (High),Banbury,Stephen,Ray,NaN,4,...,N,Longmore,St,NaN,NaN,NaN,Chandler,AZ,85224,4273.0
1,22507,Democrat,M,56,Hispanic (medium),Escamillo,Gabriel,Sanchez,III,4,...,S,Villas,Ct,NaN,NaN,NaN,Chandler,AZ,85286,6209.0
2,24594,Democrat,F,70,White (High),Nielsen,Nancy,Anne,NaN,5,...,S,New Town,Dr,NaN,NaN,NaN,Sun Lakes,AZ,85248,7123.0
3,40503,Democrat,M,70,White (High),Bryan,Keith,Wade,NaN,4,...,N,Washington,St,NaN,NaN,NaN,Chandler,AZ,85225,4641.0
4,48534,Other,F,66,White (High),Walker,Kimberly,Sue,NaN,5,...,S,Oakmont,Dr,NaN,NaN,NaN,Chandler,AZ,85249,8507.0
5,58057,Republican,F,40,White (High),Jones,Kristen,J,NaN,5,...,E,Dogwood,Dr,NaN,NaN,NaN,Chandler,AZ,85286,2459.0
6,65093,Republican,M,65,Hispanic (low),Valencia,Henry,NaN,Jr,5,...,E,Erie,St,NaN,NaN,NaN,Chandler,AZ,85225,5207.0
7,118128,Republican,M,66,White (High),Evans,William,Allen,NaN,5,...,E,Geronimo,St,NaN,NaN,NaN,Chandler,AZ,85225,2343.0
8,118720,Democrat,M,51,Black (Low),Knox,Steve,Richard,NaN,5,...,E,Chandler Heights,Rd,NaN,Apt,36,Chandler,AZ,85249,5601.0
9,121001,Democrat,M,71,White (High),Schillereff,Kim,Bradley,NaN,5,...,E,Sun Lakes,Blvd,N,NaN,NaN,Sun Lakes,AZ,85248,6434.0

In [4]:
#droping all columns that we discuss with team as to not needed for Analysis
#or ML
District13_df.drop(columns=[
    "2016:DNC:DBRolRsk","CodedRaceName","CivPart.1","2016:DNC:AVEV",
    "2016:DNC:AVEVTime","2016:DLCC:SCandSup","2016:DLCC:SGOTV",
    "2016:DLCC:SPers","2016:DNCCatholic","2016:DNCCollegeGrad",
    "2016:DNCDefectRisk","2016:DNCGenericDem","2016:DNCEvangelical",
    "2016:DNCGenTurnoutV2","2016:DNCHighSchool","2016:DNCIncome",
    "2016:DNCIssueCampFin","2016:DNCIssueClimate",
    "2016:DNCIssueCollege","2016:DNCIssuePrivacy",
    "2016:DNCIssueGunCtrl","2016:DNCIssueMinWage",
    "2016:DNCIssuePdLeave","2016:DNCIssueCitizen",
    "2016:DNCIssueChoice","2016:DNCIssueProgTax",
    "2016:DNCNonChristian","2016:DNCOthChristian",
    "2016:DNCVolPropV4","2016:DNCVolPrPhV4","2016:DNCVolPrWV4",
    "KopTurnout2016","2016:TSM:ASDCDon","2018:DNCDemSupport",
    "Healthcare","AntiGopInc","AntiGOP","KirkpatrickSup","TrmpChck",
    "2018:Cla:DCCCTNT","AVEV","CultPers","EconPers","PoliPers",
    "TrumpPers","DSCCTnt","BalDrop","CivGOTV","CivPart","CivRace",
    "CivTnt","2018:DCCCBLHGS","SHGOTV","SHSup","SSGOTV","SSSup",
    "Tnt","CodedRaceName","2018:TSM:MdGnTNT","2018:TSM:NatPart",
    "2018:TSM:NPYPT","CivPart","YEARXXScoreSName","DemPartySup",
    "CivSpan","Covid","2020:VolProp","StreetNo","StreetNoHalf",
    "StreetPrefix","StreetName","StreetType","StreetSuffix",
    "AptType","AptNo","State","CD","HD","SD","Zip4 ","City",
    "LastName","FirstName","MiddleName","Suffix","Partisanship"], inplace=True)

#Renaming the columns so all datasets match at the end of our project '2020:CivMarriage':'2020 marriage',
District13_df.rename(columns=
    {'Voter File VANID': 'Voter ID', 'PartyName': 'Party','2018:TSM:Eth': 'Ethnicity',
      'DemPartySup2': 'Voter Score','NatTO':'Turnout Score','2020:CivKidsinHH':
     'Kids in HH','2020:CivLibIdeo':'Liberal Ideology',
     'Zip5':'Zip'
    }, inplace=True)

District13_df

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,2020:CivMarriage,Zip
0,15777,Republican,M,72,Caucasian,8.15,99.22,6.75,4.14,80.49,85224
1,22507,Democrat,M,56,Hispanic,91.74,99.13,34.25,70.85,66.12,85286
2,24594,Democrat,F,70,Caucasian,98.02,98.35,13.59,94.71,83.72,85248
3,40503,Democrat,M,70,Caucasian,93.63,97.76,13.28,79.04,96.15,85225
4,48534,Other,F,66,Caucasian,91.58,98.97,7.58,78.62,61.70,85249
...,...,...,...,...,...,...,...,...,...,...,...
102403,11636967,Other,M,23,NaN,14.28,62.57,NaN,NaN,NaN,85286
102404,11637107,Other,M,46,NaN,72.69,58.57,NaN,NaN,NaN,85286
102405,11637365,Other,F,69,NaN,39.97,69.80,NaN,NaN,NaN,85248
102406,11637380,Other,M,26,NaN,77.84,63.15,NaN,NaN,NaN,85249
102407,11676373,Other,M,57,NaN,11.27,77.43,NaN,NaN,NaN,85248

In [5]:
#display number of rows and columns in our new database and count them
District13_df.count()

Voter ID            102408
Party               102408
Sex                 102408
Age                 102408
Ethnicity            87053
Voter Score         102408
Turnout Score       102408
Kids in HH           97048
Liberal Ideology     97048
2020:CivMarriage     97048
Zip                 102408
dtype: int64

In [6]:
# #droping columns keeping only columns agreed with team code grab from online but
# #seems to only work a bit
# District13_df[['Voter File VANID','PartyName','Sex','Age','CodedRaceName','NatTO',
#               'Partisanship','2020:CivKidsinHH','2020:CivLibIdeo','2020:CivMarriage',
#                'Zip5']]
# District13_df.head(10)

In [7]:



# #droping more columns unecessary idk why it drop most of them but left some in there
# District13_df.drop(columns=['LastName','FirstName','MiddleName','Suffix','CD',
#                            'StreetPrefix','StreetName','StreetType','StreetSuffix',
#                            'AptType','AptNo','City','State'], inplace=True)
# District13_df.head(10)

In [8]:
#determining there are no missing values in District -->
District13_df.isnull()

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,2020:CivMarriage,Zip
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
102403,False,False,False,False,True,False,False,True,True,True,False
102404,False,False,False,False,True,False,False,True,True,True,False
102405,False,False,False,False,True,False,False,True,True,True,False
102406,False,False,False,False,True,False,False,True,True,True,False
102407,False,False,False,False,True,False,False,True,True,True,False

In [9]:
#determining there are no missing values in District -->
District13_df.isnull().sum()

Voter ID                0
Party                   0
Sex                     0
Age                     0
Ethnicity           15355
Voter Score             0
Turnout Score           0
Kids in HH           5360
Liberal Ideology     5360
2020:CivMarriage     5360
Zip                     0
dtype: int64

In [10]:
# Determine if there are not any missing values in the student data.
District13_df.notnull()

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,2020:CivMarriage,Zip
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
102403,True,True,True,True,False,True,True,False,False,False,True
102404,True,True,True,True,False,True,True,False,False,False,True
102405,True,True,True,True,False,True,True,False,False,False,True
102406,True,True,True,True,False,True,True,False,False,False,True
102407,True,True,True,True,False,True,True,False,False,False,True

In [11]:
# Determine if there are not any missing values in the data.
District13_df.notnull().sum()

Voter ID            102408
Party               102408
Sex                 102408
Age                 102408
Ethnicity            87053
Voter Score         102408
Turnout Score       102408
Kids in HH           97048
Liberal Ideology     97048
2020:CivMarriage     97048
Zip                 102408
dtype: int64

In [12]:
#drop any null or nan in the data frame 
Clean_District13_df = District13_df.dropna()
Clean_District13_df

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,2020:CivMarriage,Zip
0,15777,Republican,M,72,Caucasian,8.15,99.22,6.75,4.14,80.49,85224
1,22507,Democrat,M,56,Hispanic,91.74,99.13,34.25,70.85,66.12,85286
2,24594,Democrat,F,70,Caucasian,98.02,98.35,13.59,94.71,83.72,85248
3,40503,Democrat,M,70,Caucasian,93.63,97.76,13.28,79.04,96.15,85225
4,48534,Other,F,66,Caucasian,91.58,98.97,7.58,78.62,61.70,85249
...,...,...,...,...,...,...,...,...,...,...,...
96480,8937995,Democrat,M,22,Caucasian,88.48,90.56,4.31,57.35,3.04,85225
96481,8937997,Other,M,27,Caucasian,67.57,30.00,0.98,58.02,1.30,85224
96482,8938017,Other,F,56,Caucasian,22.03,89.69,27.86,26.66,95.50,85248
96483,8938036,Democrat,F,76,Caucasian,86.17,95.07,3.56,76.52,86.19,85248
96484,8938053,Democrat,F,48,African-American,92.52,83.61,52.20,45.37,47.29,85286

In [13]:
#checking the types again in our new clean dataframe
Clean_District13_df.dtypes

Voter ID              int64
Party                object
Sex                  object
Age                   int64
Ethnicity            object
Voter Score         float64
Turnout Score       float64
Kids in HH          float64
Liberal Ideology    float64
2020:CivMarriage    float64
Zip                   int64
dtype: object

In [14]:
#exporting clean dataframe to pg admin before it was csv
# Clean_District13_df.to_csv("/Users/lesleyrodriguez/Desktop/Frank_D13_code/District13_Data.csv", index = False, header=True)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Arizona_Elections"
engine = create_engine(db_string)
Clean_District13_df.to_sql('district13', 
                   con = engine,
                  if_exists='replace',
                  index=False,
                  method='multi') 
Clean_District13_df

,Voter ID,Party,Sex,Age,Ethnicity,Voter Score,Turnout Score,Kids in HH,Liberal Ideology,2020:CivMarriage,Zip
0,15777,Republican,M,72,Caucasian,8.15,99.22,6.75,4.14,80.49,85224
1,22507,Democrat,M,56,Hispanic,91.74,99.13,34.25,70.85,66.12,85286
2,24594,Democrat,F,70,Caucasian,98.02,98.35,13.59,94.71,83.72,85248
3,40503,Democrat,M,70,Caucasian,93.63,97.76,13.28,79.04,96.15,85225
4,48534,Other,F,66,Caucasian,91.58,98.97,7.58,78.62,61.70,85249
...,...,...,...,...,...,...,...,...,...,...,...
96480,8937995,Democrat,M,22,Caucasian,88.48,90.56,4.31,57.35,3.04,85225
96481,8937997,Other,M,27,Caucasian,67.57,30.00,0.98,58.02,1.30,85224
96482,8938017,Other,F,56,Caucasian,22.03,89.69,27.86,26.66,95.50,85248
96483,8938036,Democrat,F,76,Caucasian,86.17,95.07,3.56,76.52,86.19,85248
96484,8938053,Democrat,F,48,African-American,92.52,83.61,52.20,45.37,47.29,85286